* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* *
    Colores 
    naranja: #F16F01; 
    celeste-azul: #0074CB; 
    amarillo: #F2C14E;
    azul-oscuro: #282D4A;
    blanco: #F2EAE8;
* */

body {
    /* mobile first */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* **   HEADER   */
.cabezera {
    background-color: #F16F01;
    color: black;
}

.cabezera a:hover {
    background-color: darkorange;
    border-radius: 10px;
}

.cabezera img {
    width: 50px;
    height: 50px;
}


/* **   MAIN */

.titulo-general {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo-mediano.jpg);
    height: 610px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px dashed #F16F01;
    border-bottom: 10px dashed #F2EAE8;
    ;
}

.titulo-general img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.titulo-general h1 {
    font-size: 4rem;
    color: #F2EAE8;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EAE8;
}


/* ultimos ingresos */
.ultimos-ingresos {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 0;
}

.ultimos-ingresos .texto-descrip {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.texto-descrip h3 {
    text-align: left;
    padding-left: 2.2rem;
}

.texto-descrip::before {
    content: '';
    display: block;
    background-color: #F16F01;
    width: 5px;
    height: 130px;
    position: absolute;
    top: 2.7rem;
    left: 1rem;
}

.img-container {
    width: 100%;
    border-radius: 10%;
}

.img-container div {
    border-radius: 10%;
}

.img-container div img {
    width: 100%;
    height: 400px;
    object-fit: fill;
    border: 2.5px solid lightgray;
    border-radius: 10%;
}

.boton-carrusel {
    background-color: black;
}

.ultimos-ingresos h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
}


/* ofertas hasta agotar stock */
.ofertas-agotar-stock h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem;
}

.ofertas-agotar-stock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-cards div {
    margin: 1.5rem 1rem;
    background-color: lightgray;
    max-width: 250px;
    border-radius: 10%;
}

.caja-cards>div {
    width: 100%;
    height: auto;
    border-radius: 10%;
}


.caja-cards div img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: 3px solid lightgray;
    border-radius: 10%;
}


.texto-desc h5 {
    font-size: 1.5rem;
}

.texto-desc p {
    font-size: 1rem;
}

.texto-desc a {
    font-size: 1rem;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}

/* branding  */

.branding {
    background-color: #282D4A;
    padding: 2.5rem;
    font-style: italic;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px dashed #0074CB;
    border-top: 10px dashed #F2EAE8;
}

.branding h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #F2EAE8;
}

/* pasas de compra*/
.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0074CB;
    width: 100%;
    border-bottom: 10px dashed #F16F01;
}

.pasos ul li {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}


.pasos li h2 {
    color: #0074CB;
    background-color: #F2C14E;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.pasos li p {
    font-size: 1.5rem;
    color: #F2EAE8;
}

.pasos>h2 {
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
    color: #F2EAE8;
}

.pasos:last-child {
    padding-bottom: 3rem;
}





/* ** FOOTER */

.pie-de-pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F16F01;
}

.pie-de-pagina h2 {
    font-size: 2rem;
}

.pie-de-pagina a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.pie-de-pagina a:hover {
    background-color: darkorange;
    border-radius: 10px;
}

.redes-sociales ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.redes-sociales h2 {
    padding-left: 1rem;
    padding-top: 2rem;
}

.redes-sociales ul li {
    display: flex;
    align-items: center;
}

.redes-sociales img {
    width: 30px;
    height: auto;
    margin-right: 0.8rem;
}

.trabaja-con-nosotros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.trabaja-con-nosotros h2 {
    padding-top: 1rem;
}

.derechos {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    opacity: 0.5;
}


/** formulario contacto* */
.cuerpo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2C14E;
    width: 100%;
    border-bottom: 10px dashed #F16F01;
    border-top: 10px dashed #F16F01;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 2rem;
    background-color: #0074CB;
    border: 10px dashed #F2C14E;
    margin: 5rem 1.5rem;
}

.formulario h2 {
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    color: white;
}

.formulario div {
    margin: 1.5rem;
}

.formulario div label {
    font-size: 1rem;
    color: black;
}

.formulario .boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario button {
    background-color: green;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    width: 150px;
    border-radius: 5px;
    border: 8px dashed darkgreen
}

.formulario button:hover {
    background-color: lightgreen;
    border: 8px dashed green;
    color: white;
}

/* *sobre nosotros* */

.cuerpo-sobre-nosotros {
    background-color: #F2C14E;
    color: white;
    border-top: 10px dashed #F16F01;
    border-bottom: 10px dashed #F16F01;
}

.secciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #0074CB;
    margin: 2.5rem;
    border: 10px dashed #F2C14E;
}

.quienes-somos {
    text-align: left;
    padding: 2rem;
}

.quienes-somos h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.quienes-somos p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.video-muestra {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video-muestra h2 {
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
}

.video-muestra iframe {
    width: 310px;
    height: 200px;
    margin-bottom: 3rem 2rem;
    border-radius: 10px;
}

.titulo-section-preguntas-frecuentes {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
}

.accordion div h2 button {
    background-color: #0074CB;
    color: white;
}

.accordion div,
.accordion strong {
    color: white;
}

.acordion div {
    background-color: #0074CB;
    border: #0074CB;
}


/* *productos* */
.tecnologia-fondo h2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/fondo-tecnologia.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1.5rem;
    object-fit: fill;
    border-top: 10px dashed #F16F01;
    border-bottom: 10px dashed #282D4A;
}

.ropa-fondo h2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/fondo-ropa.jpg);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1.5rem;
    object-fit: fill;
    border-top: 10px dashed #F16F01;
    border-bottom: 10px dashed #0074CB;
}

.titulo-productos h2 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: #F2EAE8;
}

.titulo-productos {
    width: 100%;
}

.caja-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologia-main {
    background-color: #282D4A;
    height: 100%;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 10px dashed #F16F01;
}

.ropa-main {
    background-color: #0074CB;
    height: 100%;
    width: 100%;
    margin-bottom: 3rem;
    border-bottom: 10px dashed #F16F01;
}


.item-caja {
    margin-bottom: 5rem;
}

.item-caja>div {
    margin: 5rem 2rem;
    border-radius: 10px;
    background-color: lightgrey;
}

.tecno-caja {
    border: 3px solid #282D4A;
}

.ropa-caja {
    border: 3px solid #0074CB;
}

.item-caja div div {
    max-width: 400px;
}

.item-caja div div img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-color: white;
}

.item-caja div h5 {
    font-size: 2rem;
}

.item-caja div p {
    color: black;
    font-size: 1rem;
}

.item-caja h4 {
    font-size: 2rem;
}

.item-caja div p small {
    font-size: 1rem;
}

.item-caja div button {
    color: #F2EAE8;
    font-weight: bold;
    background-color: green;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid darkgreen;
    margin: 0.5rem 0;
}

/* vista tablet */
@media 


/* vista destok */
@media (min-width: 1023px) {
    body {
        /* mobile first */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;

        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .cabezera nav img {
        width: 90px;
        height: 90px;
    }

    .ultimos-ingresos {
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 1200px;
    }


    .img-container div img {
        width: 100%;
        height: 600px;
        object-fit: fill;
        border: 2.5px solid lightgray;
        border-radius: 10%;
        background-color: white;
    }

    .texto-descrip h2 {
        font-size: 3rem;
    }

    .texto-descrip h3 {
        font-size: 2.5rem;
    }

    .texto-descrip::before {
        content: '';
        display: block;
        background-color: #F16F01;
        width: 7px;
        height: 225px;
        position: absolute;
        top: 2.7rem;
        left: 0.5rem;
    }

    /* ofertas */

    .ofertas-agotar-stock h2 {
        font-size: 4rem;
    }

    .ofertas-agotar-stock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .caja-cards div img {
        object-fit: cover;
        width: 100%;
        height: 50%;
        border: 3px solid lightgray;
        border-radius: 9%;
    }


    .texto-desc h5 {
        font-size: 2rem;
    }

    .texto-desc p {
        font-size: 1.5rem;
    }

    .texto-desc a {
        font-size: 1.25rem;
        padding: 1rem;
        margin-top: auto;
        width: 100%;
    }

    /* branding */

    .branding {
        height: 500px;
    }

    .branding h2 {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 3rem;
        color: #F2EAE8;
    }

    /* pasos a serguir */


    .pasos ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3rem;
    }


    .pasos li h2 {
        color: #0074CB;
        background-color: #F2C14E;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

    .pasos li p {
        font-size: 2.5rem;
        color: #F2EAE8;
    }

    .pasos li {
        margin-right: 5rem;
    }

    .pasos>h2 {
        padding-top: 5rem;
        font-size: 3rem;
    }

    .pasos:last-child {
        padding-bottom: 3rem;
    }

    /* footer */
    .pie-de-pagina {
        display: flex;
        flex-direction: row;
    }

    .pie-de-pagina h2 {
        font-size: 2rem;
    }

    .pie-de-pagina a {
        color: black;
        text-decoration: none;
        font-size: 1.8rem;
    }

    .derechos p {
        padding-top: 1rem;
        font-size: 1rem;
    }



    /* productos */
    .tecnologia-fondo h2,
    .ropa-fondo h2 {
        height: 600px;
        font-size: 4rem;
    }

    .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .item-caja {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item-caja div {
        max-width: 500px;
    }

    .item-caja div div {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

    }

    .item-caja div div img {
        width: 100%;
        height: 400px;
        border-radius: 8px;
        background-color: white;
    }

    .item-caja div button {
        margin-top: auto;
        margin-left: 25%;
        width: 150px;
        height: 50px;
    }

    /* contacto */
    .formulario {
        max-width: 800px;
        width: 100%;
    }

    .formulario h2 {
        font-size: 3rem;
        margin-top: 2rem;
    }


    /* sobre nosotros */

    .cuerpo-sobre-nosotros {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secciones {
        max-width: 80%;
        width: 100%;
    }

    .secciones section h2 {
        font-size: 3rem;
    }

    .quienes-somos p {
        font-size: 1.8rem;
        line-height: 1.8;
    }

    .video-muestra iframe {
        width: 70%;
        height: 400px;
    }

    .preguntas-frecuentes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .acordion {
        width: 70%;
    }

    .acordion div button {
        height: 80px;
        font-size: 1.8rem;
    }

    .acordion div div {
        font-size: 1.8rem;
    }
}

