// varibles a usar
$bg-color-main-fondo: #F16F01;
$bg-color-segundario-fondo: darkorange;
$bg-color-cards: lightgray;
$bg-color-branding: #282D4A;
$bg-color-pasos: #0074CB;
$bg-color-items-pasos:#F2C14E;
$bg-color-fade:rgba(0, 0, 0, 0.5);
$bg-color-main-boton:green;
$bg-color-segundario-boton:lightgreen;
$bg-color-select:lightsalmon;
$bg-color-neutro: white;

$ft-color-main: #F2EAE8;
$ft-color-segundario: black;
